In [1]:
import pandas as pd

In [7]:
data = {'Tool':['Python','JavaScript','Twitter','GitHub', 'Gephi','GeoNames','Transkribus','Excel','MySQL'],'2015':[9,8,10,2,11,2,0,5,0],'2016':[22,18,18,6,16,4,1,9,6],'2017':[27,12,26,17,14,3,2,3,9],'2018':[32,6,16,5,10,1,1,6,5],'2019':[35,15,12,10,9,8,8,7,7]}

In [23]:
df = pd.DataFrame(data, columns = ['Tool','2015','2016','2017','2018','2019'])
df.head()

         Tool  2015  2016  2017  2018  2019
0      Python     9    22    27    32    35
1  JavaScript     8    18    12     6    15
2     Twitter    10    18    26    16    12
3      GitHub     2     6    17     5    10
4       Gephi    11    16    14    10     9

In [31]:
df['Cumulative'] = df['2015'] + df['2016'] + df['2017'] + df['2018'] + df['2019']
print(df[['Tool','2015','2016','2017','2018','2019','Cumulative']])

          Tool  2015  2016  2017  2018  2019  Cumulative
0       Python     9    22    27    32    35         125
1   JavaScript     8    18    12     6    15          59
2      Twitter    10    18    26    16    12          82
3       GitHub     2     6    17     5    10          40
4        Gephi    11    16    14    10     9          60
5     GeoNames     2     4     3     1     8          18
6  Transkribus     0     1     2     1     8          12
7        Excel     5     9     3     6     7          30
8        MySQL     0     6     9     5     7          27