In [2]:
import pandas as pd

In [3]:
jane = "The Project Gutenberg EBook of Pride and Prejudice, by Jane Austen This eBook is for the use of anyone anywhere at no cost and with almost no restrictions whatsoever. You may copy it, give it away or re-use it under the terms of the Project Gutenberg License included with this eBook or online at www.gutenberg.org Title: Pride and Prejudice Author: Jane Austen Posting Date: August 26, 2008 Release Date: June, 1998 Last Updated: March 10, 2018 Language: English Character set encoding: UTF-8 START OF THIS PROJECT GUTENBERG EBOOK PRIDE AND PREJUDICE Produced by Anonymous Volunteers PRIDE AND PREJUDICE By Jane Austen Chapter 1 It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife."

In [4]:
jane = jane.split('EBOOK PRIDE AND PREJUDICE')[1]
jane

' Produced by Anonymous Volunteers PRIDE AND PREJUDICE By Jane Austen Chapter 1 It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.'

In [23]:
jane_cleaned = jane.replace('man', 'person')
jane_cleaned = jane.replace('wife','partner')
jane_cleaned

'Produced by Anonymous Volunteers PRIDE AND PREJUDICE By Jane Austen Chapter 1 It is a truth universally acknowledged, that a single person in possession of a good fortune, must be in want of a partner.'

In [26]:
df = pd.read_csv('tools_dh_proceedings.csv')
df.head()

                  Tool  2015  2016  2017  2018  2019
0                Abbot     1     0     0     0     0
1     ABBYY FineReader     0     0     1     0     1
2         Academia.edu     0     0     0     1     0
3  Adobe After Effects     0     1     0     0     0
4          Adobe Flash     0     0     0     0     1

In [30]:
df.sort_values(by='2019', ascending=False)

           Tool  2015  2016  2017  2018  2019
169      Python     9    22    27    32    35
101  JavaScript     8    18    12     6    15
213     Twitter    10    18    26    16    12
80       GitHub     2     6    17     5    10
78        Gephi    11    16    14    10     9
..          ...   ...   ...   ...   ...   ...
93         Icon     1     0     0     0     0
94       igraph     2     0     0     0     0
96    ImagePlot     0     1     0     0     0
97     Inkscape     0     2     0     0     0
119  Map Warper     0     1     0     1     0

[238 rows x 6 columns]